<title>{% if page.params.seo.title %}{{ page.params.seo.title }}{% else %}{{ page.title | append(' | ') | append( site.title ) }}{% endif %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="google" content="notranslate" />
<meta name="description" content="{{ page.params.seo.description | default('', true) }}" />
{% if page.params.seo.robots %}
<meta name="robots" content="{{ page.params.seo.robots | join(',') }}">
{% endif %}
{% if page.params.seo.canonical_url %}
<link rel="canonical" href="{{ page.params.seo.canonical_url }}" />
{% elif site.params.domain %}
  {% set domain = site.params.domain | trim('/') %}
  {% set page_rel_url = page.url | relative_url %}
  <link rel="canonical" href="{{ domain | append ( page_rel_url ) }}" />
{% endif %}
{% for meta in page.params.seo.extra %}
  {% if meta.name == 'og:image' or meta.name == 'twitter:image' %}
    {% if meta.value | starts_with('http') %}
    <meta {% if meta.name | starts_with('og:') %}property="{{ meta.name }}"{% else %}name="{{ meta.name }}"{% endif %} content="{{ meta.value }}">
    {% elif site.params.domain %}
      {% set domain = site.params.domain | trim('/') %}
      {% set image_rel_url = meta.value | relative_url %}
      <meta {% if meta.name | starts_with('og:') %}property="{{ meta.name }}"{% else %}name="{{ meta.name }}"{% endif %} content="{{ domain | append ( image_rel_url ) }}">
    {% endif %}
  {% else %}
    <meta {% if meta.name | starts_with('og:') %}property="{{ meta.name }}"{% else %}name="{{ meta.name }}"{% endif %} content="{{ meta.value }}">
  {% endif %}
{% endfor %}
{% set font = site.params.base_font | default('nunito-sans', true) %}
{% if font != "system-sans" %}
<link rel="preconnect" href="https://fonts.gstatic.com">
{% endif %}
{% if font == "nunito-sans" %}
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
{% elif font == "fira-sans" %}
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
{% endif %}
<link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
{% if site.params.favicon %}
<link rel="icon" href="{{ site.params.favicon | relative_url }}">
{% endif %}
